.wish {
  &__delete-button {
    float: right;
    margin: 5px;
    background-color: #fff;
    border: 0;
  }
  
  &__wish-listelement {
    margin: 10px;
  }
  
  &__wish-text {
    line-height: 20px;
    color: white;
    word-wrap: break-word;
    width: 99%;
    height: 44px;
    background-color: #3db2d057;
    border-radius: 0;
    padding: 10px;
    transition: all .2s;
    border: 1px solid black;

    &--active {
      border-radius: 15px;
    }

    &:focus {
      outline: none;
    }
  }
}

a.wish__confirm-delete-button {
  background-color: #d64f4f;
}

.wish__confirm-delete-button {
  margin: 5px;
}

.wish__wish-dropzone {
  width: auto;
  height: auto;
}

.wish__image {
  width: 250px;
}

.wish__image--thumbnail {
  width: 36px;
  height: 36px;
}
