.other-wishlist__comment-input {
    height: 50px;
    width: 100%;
    border: 1px solid black;
}

.other-wishlist__checkbox {
  width: 20px;
  height: 20px;
}

.other-wish__linkify {
  word-break: break-word;
  font-size: 1.2em;
  font-weight: bold;
}

.other-wish__image {
  width: 250px;
}

.other-wish__button_buy-or-sell {
  width: 100%;
}

.other-wish__wish-text {
  margin-bottom: 0;
}

.other-wish__hr {
  margin-bottom: 0;
}

.other-wish__buy-or-sell-wrapper {
  margin: 0 5px 5px 5px;
}

.other-wish__button_delete-suggestion {
  margin-left: 5px;
  flex-shrink: 0;
}
