.other-wishlist__comment-input {
    height: 50px;
    width: 100%;
    border: 1px solid black;
}

.other-wishlist__checkbox {
  width: 20px;
  height: 20px;
}

.other-wish__linkify {
  word-break: break-word;
}

.other-wish__image {
  width: auto;
  height: auto;
}

.other-wish__button_buy-or-sell {
  width: 100%;
}
