.your-wishlist__wishlist {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.your-wishlist__add-wish-wrapper {
  position: relative;
  margin-bottom: .8rem;
}

.your-wishlist__add-wish-textarea {
  height: 48px;
  padding: 0 10px;
  padding-left: 40px;
  width: calc(100% - 1.6rem);
  margin: 0 .8rem;
  border-radius: 10px;
  border: none;
  @media only screen and (min-width: 37.5em) {
    flex: 1 0 70%;
  }
}

.your-wishlist__add-wish-submit {
  position: absolute;
  color: black;
  top: 4px;
  left: 19px;
  height: 100%;
  background-color: transparent;
  border: none;
  float: right;
  cursor: pointer;
}

.your-wishlist__addIcon {
  height: 4rem;
  width: 4rem;
}