.other-wishlist__comment-input {
    height: 50px;
    width: 100%;
    border: 1px solid black;
}



.other-wishlist__comment-comment {

}

.other-wishlist__checkbox {
  width: 20px;
  height: 20px;
}
