.icon {
    margin: 10px;
    background-color: transparent;
    border: 2px solid #3db2d0;
    border-radius: 5px;
    padding: 2px;
    float: right;
    cursor: pointer;
    height: 5rem;
    width: 5rem;

    &__icon {
        height: 4rem;
        width: 4rem;
    }
}  