.your-wishlist__wishlist {
  display: flex;
  flex-direction: column;
}
.your-wishlist_add-wish-wrapper {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.your-wishlist_add-wish-textarea {
  height: 70px;
  padding: 10px;
  width: 100%;
  @media only screen and (min-width: 37.5em) {
    flex: 1 0 70%;
  }
}

.your-wishlist_add-wish-submit {
  margin: 10px;
  background-color: transparent;
  border: 2px solid #3db2d0;
  border-radius: 5px;
  padding: 2px;
  float: right;
  cursor: pointer;
}

.your-wishlist__addIcon {
  height: 4rem;
  width: 4rem;
}