.other-wishlist__comment-input {
    height: 50px;
    width: 100%;
    border: 1px solid black;
}

.other-wishlist__checkbox {
  width: 20px;
  height: 20px;
}

.other-wish__linkify {
  word-break: break-word;
  font-size: 1em;
}

.other-wish__image {
  width: 178px;
}

.other-wish__button_buy-or-sell {
  width: 65px;
  margin: 5px;
}

.other-wish__wish-text {
  flex: 1 0 65%;
  text-align: left;
  font-size: 1.3rem;
}

.other-wish__buy-or-sell-wrapper {
  display: inline-block;
}

.other-wish__upper-half {
  justify-content: space-between;
}

.other-wish__button_delete-suggestion {
  width: 65px;
  margin: 5px;
}
