.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;

    height: 40px;
    width: 40px;

    &__icon {
        max-height: 30px;
        max-width: 30px;
    }
}  