.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    background-color: transparent;
    border: 2px solid #3db2d0;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    height: 5rem;
    width: 5rem;

    max-height: 40px;
    max-width: 40px;

    &__icon {
        height: 4rem;
        width: 4rem;
        
        max-height: 30px;
        max-width: 30px;
    }
}  