.wish__delete-button {
  float: right;
}

.wish__wish-listelement {
  margin: 10px;
}

.wish__wish-input {
  display: inline;
  width: 170px;
  height: 70px;
}

.wish__wish-text {
  line-height: 20px;
  width: 70%;
  word-wrap: break-word
}

a.wish__confirm-delete-button {
  background-color: #d64f4f;
}
