*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Font
$default-font-size: 16px;
$color-grey-dark: #777;

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; // 600px == 37.5em
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; // 900 px == 56.25em
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; // 1200 px == 75em
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; // 1800 px = 112.5em
    }
}

html {
  font-size: $default-font-size;
  min-height:100%;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  min-height:100%;
}

#root {
  text-align: center;
  height: 100vh;
}

input, textarea {
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
}